<!DOCTYPE html>

<html lang="en" xml:lang="en">
  <head>
    <title>Smart Homes - Welcome to your space</title>
    <meta content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- <link rel="stylesheet" type="text/css" href="./styles/index.css" />
    <link rel="stylesheet" type="text/css" href="./styles/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="./styles/slider.css" /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/dashboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/slider.css') }}"
    />
  </head>

  <body>
    <header>
      <nav>
        <a href="http://localhost:5000/">
          <h1 class="logo-label">Smart Homes</h1>
        </a>
        <ul>
          <li><a href="http://localhost:5000/">Home</a></li>
          <li><a href="http://localhost:5000/about">About</a></li>
        </ul>
      </nav>
      <a href="http://localhost:5000/login" class="login-button">
        <p class="custom-button">Login</p>
      </a>
    </header>

    <!-- Main content that should be edited -->
    <main>
      <div class="container">
        <div class="login-container add-home-container">
          <!-- Remove section -->

          <div class="home-list-container">
            <p class="banner-text">Your Homes</p>

            <div class="card-container">
              <!-- device card -->
              <div class="device-card home-height">
                <div class="home-details">
                  <div class="font-bold">Home Name #1</div>
                  <div class="delete-icon">
                    <img
                      src="../static/assets/delete.jpeg"
                      class="delete-icon"
                      alt="device"
                    />
                  </div>
                </div>
                <img
                  src="../static/assets/home.png"
                  class="home-image"
                  alt="home"
                />
              </div>
              <!-- device card ends -->
            </div>
          </div>

          <p class="banner-text">Add New Home</p>
          <form action="/addHome" method="POST" enctype="multipart/form-data">
            <!-- New Input -->
            <div class="input-container complete-center margin-top-3">
              <div class="input-box-label">
                <label class="input-box-label" for="email"> Home Name </label>
              </div>
              <input name="name" class="input-box" />
            </div>

            <!-- New Input -->
            <div class="input-container complete-center margin-top-3">
              <div class="input-box-label">
                <label class="input-box-label" for="email">
                  Home Address
                </label>
              </div>
              <input name="address" class="input-box" />
            </div>

            <!-- New Input -->
            <div class="input-container complete-center margin-top-3">
              <div class="input-box-label">
                <label class="input-box-label" for="email"
                  >Smart Rent ID
                </label>
              </div>
              <input name="rentid" class="input-box" />
            </div>

            <!-- New Input -->
            <div class="input-container complete-center margin-top-3">
              <div class="input-box-label">
                <label class="input-box-label" for="email">
                  Smart Rent Password
                </label>
              </div>
              <input name="password" class="input-box" />
            </div>

            <div class="input-container complete-center margin-top-3">
              <button
                class="default-button complete-center"
                id="login-submit"
                type="submit"
              >
                Add New Home
              </button>
            </div>
          </form>
          <!-- margin bottom -->
          <div class="bottom-spacing"></div>
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2023 Smart Homes</p>
    </footer>
  </body>
</html>
